.container {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 10px;
}

.volunteer-work-status {
  display: flex;
  align-items: center;
}

.volunteer-work-status .MuiInputBase-root.MuiOutlinedInput-root {
  width: 270px;
  background-color: white;
}

.gridCont {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 0.5rem;
}

.line {
  display: grid;
  gap: 1rem;
  margin: 0;
  height: 65px;
}

.gridFirst {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.gridSecond {
  grid-template-columns: repeat(3, 120px) repeat(2, 200px) 120px;
}

.gridThird {
  grid-template-columns: repeat(2, 120px) 200px 250px 320px;
}

.generalInfo-field {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  gap: 5px;
}

.footer {
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-between;
}

.socialLink {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .line {
    height: auto;
  }

  .gridFirst {
    grid-template-columns: repeat(3, 220px);
  }

  .gridSecond {
    grid-template-columns: repeat(3, 220px);
  }

  .gridThird {
    grid-template-columns: 220px 330px 220px;
  }

  .volunteer-work-status .MuiInputBase-root.MuiOutlinedInput-root {
    width: 220px;
    background-color: white;
  }
}

@media screen and (max-width: 900px) {
  .volunteer {
    display: flex;
    flex-direction: column;
  }
  .line {
    height: auto;
  }

  .gridFirst {
    display: flex;
    flex-direction: column;
  }

  .gridSecond {
    display: flex;
    flex-direction: column;
  }

  .gridThird {
    display: flex;
    flex-direction: column;
  }
  .generalInfo-field {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  .volunteer-work-status {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .volunteer-work-status .MuiInputBase-root.MuiOutlinedInput-root {
    width: 220px;
    background-color: white;
  }
  

  .socialLink {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .footer {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* 
@media screen and (max-width: 900px) {
  .volunteer {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 1rem;
  }
  .gridCont {
    display: flex;
    flex-direction: column;
  }

  .line {
    display: flex;
    flex-direction: column;
  }

  .gridSecond {
    display: flex;
  }

  .gridThird {
    display: flex;
  }

  .generalInfo-field {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .socialLink {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .footer {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
  .container {
    padding: 1rem 2rem 1rem 2rem;
  }

  .gridCont {
    display: flex;
    flex-direction: column;
  }

  .line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gridSecond {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .gridThird {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3);
  }

  .footer {
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .generalInfo-field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  } 

  .socialLink {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
} */
