$neutral_color: #f4f4f4;
html,
body,
#root {
  height: 100%;
}

.MuiToolbar-regular {
  min-height: 50px !important;
}

@media (max-width: 1280px) {
  .MuiToolbar-regular {
    min-height: 100px !important;
  }
}

.tab {
  text-decoration: none;
}

.tab-active .MuiTab-root {
  font-weight: 700;
}


.form-error {
  color: red;
}

@import "./pages/Volunteers.scss";
@import "./pages/Volunteer.scss";
