$neutral_color: #f4f4f4;
html,
body,
#root {
  height: 100%;
}

.main-container {
  background-color: #f4f4f4;
  padding: 36px;
  border-radius: 10px;
}

.MuiToolbar-regular {
  min-height: 80px !important;
}

@media (max-width: 1280px) {
  .MuiToolbar-regular {
    min-height: 100px !important;
  }

  .no-tabs .MuiToolbar-regular {
    min-height: 50px !important;
  }
}

.tab {
  text-decoration: none;
}

.tab-active .MuiTab-root {
  font-weight: 700;
  color: #3967d6;
  opacity: 1;
}

.subheader-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.form-error {
  color: red;
}

.header-signout {
  margin-left: 40px !important;
}

.form-modal {
  top: 100px !important;
  right: 100px !important;
  left: unset !important;
}

.header-logo {
  user-select: none;
}

@media (max-width: 1280px) {
  .login-form {
    min-width: unset !important;
  }

  .login-form-main {
    padding: 48px 20px 32px 20px !important;
  }
}


@media (max-width: 780px) {
  .form-modal {
    position: fixed !important;
    width: 100% !important;
    top: 100px !important;
    right: unset !important;
    left: unset !important;
  }
  .form-modal .MuiContainer-root {
    padding: 48px 32px 32px 32px;
  }
}

@media (max-width: 1280px) {
  .header-welcome {
    display: none;
  }
}

@import "./pages/Volunteer.scss";
@import "./pages/Volunteers.scss";
