.searchIconInButton {
  display: none;
}

.MuiInputBase-root.MuiInput-root.MuiInputBase-adornedStart {
  width: 480px;
}

@media screen and (max-width: 1280px) and (min-width: 981px) {
  .MuiInputBase-root.MuiInput-root.MuiInputBase-adornedStart {
    width: 400px;
  }
}

@media screen and (max-width: 981px) {
  .MuiInputBase-root.MuiInput-root.MuiInputBase-adornedStart {
    width: auto;
  }
}

@media screen and (max-width: 680px) {
  .MuiInputAdornment-root.MuiInputAdornment-positionStart,
  .searchTextInButton {
    display: none;
  }
  .searchIconInButton {
    display: block;
  }
  .searchIconInButton {
    display: flex;
    align-items: center;
  }
  .searchBar {
    flex-wrap: wrap;
  }
  .searchBar {
    min-width: 400px;
  }
  .MuiListItem-root {
    min-height: 0;
  }
}
